#abstract {
  font-size: 16px;
}

.footer {
  padding-top: 1em;
  background-color: #f5f5f5;
}

.brand-logo img {
  margin-top: 12px;
  margin-right: 6px;
}

.info-forward-citations {
}
.verified {
  color: green;
}
#top-banner {
  background-color: #e44;
  color: #a00;
  padding: 4px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}
